<div class="logout-button-container">
  <button mat-button (click)="logout()">Logout</button>
</div>
<div class="home-container">
  <form [formGroup]="searchForm" class="search-filter-form">
    <mat-form-field appearance="fill">
      <mat-label>Search by Title</mat-label>
      <input matInput formControlName="searchTerm">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option value="All">All</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div *ngFor="let manga of filteredMangas">
    <mat-card>
      <mat-card-title>{{ manga.title }}</mat-card-title>
      <mat-card-content>
        <p>Released: {{ manga.releaseYear }}</p>
        <button mat-button class="add-to-favorites" (click)="addToFavorites(manga)" *ngIf="!isFavorite(manga.id)" class="favorite-button">Add to Favorites</button>
        <button mat-button class="remove-from-favorites" (click)="removeFromFavorites(manga.id)" *ngIf="isFavorite(manga.id)" class="favorite-button">Remove from Favorites</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
