<nav>
    <div class="navbar">
      <a routerLink="/" class="navbar-brand">MangaDB Client</a>
      <div class="nav-links">
        <a routerLink="/home" routerLinkActive="active">Joe Azar</a>
      </div>
    </div>
  </nav>
  
  <main>
    <router-outlet></router-outlet> 
  </main>
  
  <footer>
    <p>&copy; 2024 MangaDB Client. All rights reserved.</p>
    <p>Follow us on:
        <a href="https://twitter.com/angular" target="_blank">Twitter</a>,
        <a href="https://facebook.com/angular" target="_blank">Facebook</a>
    </p>
  </footer>
  